$main-color: #323232;
$nav-color: white;
$second-color: #646464;
$link-color-hover: #dfad00;
$read-more-color-link: #4c93c3;
$main-font: 'Roboto', sans-serif;
$main-font-size: 12px;
$h2-font-size: 3em;
$h2-font-weight: 100;
$h3-font-size: (14/12)*1em;
$h3-font-weight: 400;
$main-font-weight: 300;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$link-cursor: pointer;
$link-transition: color 0.5s linear;